body {
  font-family: "Krub", sans-serif;
}

.border {
  border: solid gray 1px;
  border-radius: 10px;
  padding: 10px 10px 40px 20px;
  box-shadow: 5px 9px 9px 0px rgb(184, 216, 242, 0.63);
}
#current-city {
  padding: 0px;
}

#left-panel {
  text-align: left;
}
#right-panel {
  text-align: right;
  margin-right: 24px;
}
#city-input {
  margin-bottom: 20px;
}

h1 {
  text-transform: capitalize;
}
h5 {
  font-weight: normal;
  text-transform: capitalize;
}
#search-border {
  box-shadow: 5px 9px 9px -3px rgb(184, 216, 242, 0.63);
}
form {
  padding-top: 75px;
}
a {
  text-decoration-line: none;
  color: #6c757d;
}
#cards {
  padding: 40px;
}
.card {
  border: none;
}
.col {
  text-align: center;
  margin-top: 12px;
}

#weather-favicon {
  text-align: center;
  font-size: 50px;
  padding: 5px;
  margin: 0px;
}

.degrees {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}
.measure {
  font-size: 20px;
  position: relative;
  bottom: 15px;
}
#five-day-forecast {
  margin-top: 0px;
}

p {
  margin: 0px;
  text-transform: capitalize;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 10px;
  font-style: italic;
}
